.searchbar {
    grid-area: searchbar;
    width: 584px;
    height: 44px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    background: url("http://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png") no-repeat;
}

#logo {
    grid-area: logo;
}

.container {
    justify-content: center;
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "logo logo"
        "searchbar searchbar"
        "search lucky";
}

.buttons {
    background-color: #f2f2f2;
    font: bold 13px Arial;
    color: #757575;
    padding: 10px 20px;
}


.search {
    grid-area: search;
}

.lucky {
    grid-area: lucky;
}