.searchbar {
    grid-area: searchbar;
    width: 484px;
    height: 44px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    margin: 18px auto;
}

.nav {
    margin: 20px;
    color: black;
}

.navright {
    display: inline-block;
    position: absolute;
    right: 50px;

}

a {
    margin: 10px;
    color: black;
    text-decoration: none;
    font-size: 13px;
    opacity: .75;
    font-family: arial;
}

#logo {
    margin-top: 20px;
    grid-area: logo;

}

.container {
    margin-top: 100px;
    grid-gap: 10px;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-areas: 
        "logo logo"
        "searchbar searchbar"
        "search lucky";
}

.search, .lucky {
    display: grid;
    margin-bottom: auto;
    margin-top: 5px;
    background-color: #f2f2f2;
    font: bold 13px Arial;
    color: #757575;
    padding: 10px 20px;
}

input[type="text"] {
    -webkit-appearance: none;
    border: none;
    width: 468px;
    height: 44px;
    padding: 0 0 0 16px;
    font-size: 14px;
}
.search {
    grid-area: search;
    justify-self: right;
}

.lucky {
    grid-area: lucky;
    justify-self: left;
}